<div class="margin">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- bookTitle -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="Text" [(ngModel)]="book.bookTitle"
               class="form-control"
               id="bookTitle"
               name="bookTitle"
               placeholder="Enter the book Title"
               required #name="ngModel">
      </mat-form-field>
    </div>

    <!-- bookRelease -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Release Year</mat-label>
        <input matInput [(ngModel)]="book.bookRelease"
               class="form-control"
               id="bookRelease"
               name="bookRelease"
               placeholder="Enter the book Release Year">
      </mat-form-field>
    </div>

    <!-- bookEdition -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Edition</mat-label>
        <input matInput [(ngModel)]="book.bookEdition"
               class="form-control"
               id="bookEdition"
               name="bookEdition"
               placeholder="Enter the book Edition"
               #bookEdition="ngModel"
               pattern="^[0-9]+$">
        <mat-error *ngIf="bookEdition.invalid && bookEdition.touched">
          Please enter a valid number.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- bookISBN -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>ISBN</mat-label>
        <input matInput [(ngModel)]="book.bookIsbn"
               class="form-control"
               id="bookISBN"
               name="bookISBN"
               placeholder="Enter the book ISBN">
      </mat-form-field>
    </div>

    <!-- bookASIN -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>ASIN</mat-label>
        <input matInput [(ngModel)]="book.bookAsin"
               class="form-control"
               id="bookASIN"
               name="bookASIN"
               placeholder="Enter the book ASIN">
      </mat-form-field>
    </div>

    <!-- bookSynopsis -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Synopsis</mat-label>
        <input matInput [(ngModel)]="book.bookSynopsis"
               class="form-control"
               id="bookSynopsis"
               name="bookSynopsis"
               placeholder="Enter the book Synopsis">
      </mat-form-field>
    </div>

    <!-- bookPages -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Pages</mat-label>
        <input matInput [(ngModel)]="book.bookPages"
               class="form-control"
               id="bookPages"
               name="bookPages"
               placeholder="Enter the number of book Pages"
               #bookPages="ngModel"
               pattern="^[0-9]+$">
        <mat-error *ngIf="bookPages.invalid && bookPages.touched">
          Please enter a valid number.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- bookEntryInSeries -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Entry in Series</mat-label>
        <input matInput [(ngModel)]="book.bookEntryInSeries"
               class="form-control"
               id="bookEntryInSeries"
               name="bookEntryInSeries"
               placeholder="Enter the books Entry in the Series"
               #bookEntryInSeries="ngModel"
               pattern="^[0-9]+$">
        <mat-error *ngIf="bookEntryInSeries.invalid && bookEntryInSeries.touched">
          Please enter a valid number.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- bookAuthor -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Select Authors</mat-label>
        <mat-select [(ngModel)]="book.bookAuthors" name="bookAuthors" multiple>
          <mat-option *ngFor="let author of authors" [value]="author.authorName">
            {{ author.authorName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- bookPublisher -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Select Publisher</mat-label>
        <mat-select [(ngModel)]="book.bookPublisherName" name="bookPublisherName">
          <mat-option *ngFor="let publisher of publisher" [value]="publisher.publisherName">
            {{ publisher.publisherName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- bookSeries -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Select Series</mat-label>
        <mat-select [(ngModel)]="book.bookSeriesName" name="bookSeriesName">
          <mat-option *ngFor="let series of series" [value]="series.seriesName">
            {{ series.seriesName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <section>
      <div class="submit-button">
        <button mat-raised-button type="submit" [disabled]="myForm.invalid" (click)="openSnackBar('Book was saved')">
          Submit
        </button>
      </div>
    </section>

  </form>
</div>
