<p> add works?!?</p>

<!--<mat-drawer-container>-->
<!--  <nav mat-tab-nav-bar>-->
<!--  <mat-drawer opened>-->

<!--      <a mat-tab-link routerLink="/bookAdd">Books</a>-->

<!--  </mat-drawer>-->
<!--  </nav>-->
<!--  <mat-drawer-content>-->
<!--  subcontent-->
<!--  <router-outlet></router-outlet>-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->





<!--<mat-sidenav-container>-->
<!--  <mat-sidenav-content>-->
<!--    <nav mat-tab-nav-bar [tabPanel]="tabPanel">-->
<!--      <a mat-tab-link [routerLink]="'/bookAdd'" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">-->
<!--        Books-->
<!--      </a>-->
<!--    </nav>-->
<!--      <p>Where am i? Main Content?</p>&ndash;&gt;-->
<!--    <div class="main-content">-->
<!--      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>-->
<!--    <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->



<!--Link to a new Page in the same BrowserTab, nav bar no longer accessible-->
<!--<nav mat-tab-nav-bar >-->
<!--  <a mat-tab-link routerLink="/bookAdd">Books</a>-->
<!--  <a mat-tab-link routerLink="/authorAdd">Authors</a>-->
<!--  <a mat-tab-link routerLink="/publisherAdd">Publishers</a>-->
<!--  <a mat-tab-link routerLink="/seriesAdd">Series</a>-->
<!--</nav>-->





<!--just displys content1 etc below the mat tab, no routing here-->
<!--<mat-tab-group>-->
<!--  <mat-tab label="Books">-->
<!--    <ng-template matTabContent>-->
<!--      Content1?-->
<!--      Books-->
<!--    </ng-template>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Authors">-->
<!--    <ng-template matTabContent>-->
<!--      Content2-->
<!--      Authors-->
<!--    </ng-template>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Publisher">-->
<!--    <ng-template matTabContent>-->
<!--      Content3-->
<!--      Publisher-->
<!--    </ng-template>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Series">-->
<!--    <ng-template matTabContent>-->
<!--      Content3-->
<!--      Series-->
<!--    </ng-template>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->
