
.draw-container {
  width: auto;
  height: min(100vh, 100vh);
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}

.side-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: start;

}

a {
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  align-items: center;
  color: purple;
}

.main-content {
}

.active {
  background-color: rgba(25, 151, 201, 0.3);
}
